<div>
<div class="container w-75 my-5">
  <div class="table-responsive">
    <button class="btn btn-primary">Dodaj kategorię</button>
    <table class="table">
      <thead class="bg-gradient">
      <tr>
        <th class="bg-dark-subtle">category_id</th>
        <th class="bg-dark-subtle">category_name</th>
        <th class="bg-dark-subtle">products_Quantity</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let category of productCategories">
        <mat-menu #categoryName="matMenu">
          <button mat-menu-item>Edit Name</button>
          <button mat-menu-item (click)="deleteCategoryById(category.id)" >Delete Category</button>
          <button mat-menu-item routerLink="/my-products/{{category.id}}">More</button>
        </mat-menu>
        <mat-menu #categoryId="matMenu">
          <button mat-menu-item (click)="deleteCategoryById(category.id)" >Delete Category</button>
          <button mat-menu-item routerLink="/my-products/{{category.id}}">More</button>
        </mat-menu>
        <td><button mat-button [matMenuTriggerFor]="categoryId">{{category.id}}</button></td>
        <td><button mat-button [matMenuTriggerFor]="categoryName">{{category.categoryName}}</button></td>
        <td><button mat-button [matMenuTriggerFor]="categoryName">{{category.products.length}}</button></td>
      </tr>
      <tr></tr>
      </tbody>
    </table>


  </div>
</div>
</div>
