<mat-dialog-content>
  <p>Add new Category</p>

  <div class="form-container">
    <div class="form-row">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="data.ProductName">
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field>
        <mat-label>Product Description</mat-label>
        <input matInput [(ngModel)]="data.ProductDescription">
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field>
        <mat-label>{{data.Category.categoryName}}</mat-label>
        <mat-select [(ngModel)]="data.Category">
          <mat-option *ngFor="let category of categories" [value]="category" >{{ category.categoryName }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
<!--    <div class="form-row">-->
<!--      <mat-form-field>-->
<!--        <mat-label>Product Image Url</mat-label>-->
<!--        <input matInput [(ngModel)]="data.Images">-->
<!--        <input type="file" (change)="onFileChanged($event)">-->
<!--      </mat-form-field>-->
<!--    </div>-->
    <div class="form-row">
      <mat-form-field>
        <mat-label>Product Price</mat-label>
        <input matInput [(ngModel)]="data.ProductPrice">
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field>
        <mat-label>Product Stock</mat-label>
        <input matInput [(ngModel)]="data.ProductStock">
      </mat-form-field>
    </div>
  </div>
  <span>Add Images </span>
  <input type="file" (change)="onFileChanged($event)">
  <select class="form-select" aria-label="Select Image" #selectedFile>
    <option *ngFor="let file of files" [value]="file.name">{{ file.name }}</option>
  </select>
  <button mat-button (click)="deleteFromCurrentFiles(selectedFile.value)">delete</button>
  <br>
  <div *ngIf="data.Images && data.Images.length > 0">
    <span>Delete from Added files</span>
    <select class="form-select" aria-label="Select Image" #selectedImage>
    <option *ngFor="let image of data.Images" [value]="image.id">{{ image.name }}</option>
  </select>
    <button mat-button  (click)="deleteFromCurrentImages(Number(selectedImage.value))">delete</button>
  </div>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data" (click)="onNoClick()">close</button>
  <button mat-button [mat-dialog-close]="data"  cdkFocusInitial>save</button>
</mat-dialog-actions>
