<div>
  <div class="container w-75 my-5">
    <div class="table-responsive">
      <button class="btn btn-primary"  (click)="openDialogAddNewProduct()">Dodaj Produkt</button>
      <table class="table">
        <thead class="bg-gradient">
        <tr>
          <th class="bg-dark-subtle">Id</th>
          <th class="bg-dark-subtle">Name</th>
          <th class="bg-dark-subtle">Description</th>
          <th class="bg-dark-subtle">Image</th>
          <th class="bg-dark-subtle">Price</th>
          <th class="bg-dark-subtle">Stock_Quantity</th>
          <th class="bg-dark-subtle">Category</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let tempProduct of products">
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openDialogEditProduct(tempProduct.id,tempProduct)" style="background-color: cadetblue">Edit Product</button>
            <button mat-menu-item (click)="deleteProductById(tempProduct.id)" style="background-color: orangered">Delete Product</button>
          </mat-menu>

          <td><button mat-button [matMenuTriggerFor]="menu">{{tempProduct.id}}</button></td>
          <td>{{tempProduct.productName}}</td>
          <td>{{tempProduct.productDescription}}</td>
          <td>{{tempProduct.productImage}}</td>
          <td>{{tempProduct.productPrice}}</td>
          <td>{{tempProduct.productStockQuantity}}</td>
          <td>{{tempProduct.category.categoryName}}</td>
        </tr>
        <tr></tr>
        </tbody>
      </table>



    </div>
  </div>
</div>
