


<nav class="navbar navbar-expand-md sticky-top bg-body-secondary" data-bs-theme="dark">
  <div class="container-fluid"><a class="navbar-brand" href="#">MyShop</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navcol-1"><input type="search">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link active" href="#">MyProducts</a></li>
        <li class="nav-item"><a class="nav-link active" href="#">Orders</a></li>
        <li class="nav-item"><a class="nav-link" href="#">MyCart</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Login</a></li>
      </ul>
    </div>
  </div>
</nav>


<!-- sidebar with category -->
<app-product-category-off-canva></app-product-category-off-canva>
<!-- end sidebar with category -->



<div class="container py-4 py-xl-5">

  <!--section with cards of products-->
  <app-product></app-product>
  <!--end section with cards of products-->


  <router-outlet></router-outlet>
</div>

