<nav class="navbar navbar-expand-md sticky-top bg-body-secondary" data-bs-theme="dark">
  <div class="container-fluid"><a class="navbar-brand" href="#">MyShop</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navcol-1">
      <div class="input-group w-25 d-none d-md-flex">
        <input #myInput type="search" class="form-control" placeholder="Search for products" aria-label="Search" aria-describedby="search-btn" (keyup.enter)="doSearch(myInput.value)">
        <button class="btn btn-outline-light" type="button"  (click)="doSearch(myInput.value)">Search</button>
      </div>
      <div class="input-group d-flex d-md-none">
        <input #myInput type="search" class="form-control" placeholder="Search for products" aria-label="Search" aria-describedby="search-btn" (keyup.enter)="doSearch(myInput.value)">
        <button class="btn btn-outline-light" type="button"  (click)="doSearch(myInput.value)">Search</button>
      </div>



      <ul class="navbar-nav ms-auto">
        <div><app-cart></app-cart></div>
        <li class="nav-item"><a class="nav-link active" routerLink="/my-products" routerLinkActive="active-link">MyProducts</a></li>
        <li class="nav-item"><a class="nav-link active" href="#">Orders</a></li>
        <li class="nav-item"><a class="nav-link" href="#">MyCart</a></li>
        <li class="nav-item" *ngIf="isLoggedIn()"><a class="nav-link active" (click)="logoutUser()" routerLink="/" routerLinkActive="active-link">Logout</a></li>
        <li class="nav-item" *ngIf="!isLoggedIn()"><a class="nav-link active" routerLink="/login" routerLinkActive="active-link">Login</a></li>
      </ul>
    </div>
  </div>
</nav>
