
  <div class="product-card">
    <div class="product-image">
      <button class="image-nav" (click)="prevImage()">Prev</button>
      <img class="product-img"
           [src]="'data:' + product.images?.at(currentImageIndex)?.type + ';base64,' + product.images?.at(currentImageIndex)?.picByte"
           alt="Product Image">
      <button class="image-nav" (click)="nextImage()">Next</button>
    </div>
    <div class="product-details">
      <h2 class="product-title">{{ product.productName }}</h2>
      <h4 class="product-price">{{ product.productPrice | currency: 'PLN' }}</h4>
      <p class="product-description">{{ product.productDescription }}</p>
      <div class="product-quantity">
        <input [(ngModel)]="quantity" type="number" class="quantity-input" min="1" placeholder="Quantity">
        <button class="add-to-cart-btn" type="button" (click)="addToCart(product)">Add to Cart</button>
      </div>
    </div>
  </div>

