<div class="container">
  <div class="row">
    <!-- User list -->
    <div class="col-md-4">
      <h3>Users</h3>
      <ul class="list-group">
        <li class="list-group-item hover-effect" *ngFor="let customer of customers" (click)="selectedUser(customer.id)"
            [class.selected]="customer.id==chosenCustomerId">
          {{customer.email}}
        </li>
      </ul>
    </div>
    <!-- Chat interface -->
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          Chat with {{customers[1]?.email}}
        </div>
        <div class="card-body">


          <div *ngIf="liveChatService.roles == 'ADMIN'">
            <h5 class="card-title">Manager Chat with customers</h5>
            <div class="row">
              <div class="col-md-12">
                <h6>Chat Messages</h6>
                <div class="d-flex flex-column">
                  <div class="card mb-2" *ngFor="let msg of liveChatService.messageHistory"
                       [ngClass]="{'align-self-end': msg.senderId != '1', 'align-self-start': msg.senderId == '1'}"
                       style="border-radius: 20px; padding: 5px; background-color: msg.sender === 'manager' ? '#d0d0d0' : '#f0f0f0'; width: fit-content; word-wrap: break-word; max-width: 200px;">
                    <div class="card-body" style="padding: 0;">
                      {{msg.content}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <input class="form-control mt-2" type="text" placeholder="message" [(ngModel)]="message">
            <button class="btn btn-success mt-2" (click)="sendMessageToCustomer()">Send</button>
          </div>

          <div *ngIf="liveChatService.roles == 'USER'">
            <h5 class="card-title">Manager Chat with customers</h5>
            <div class="row">
              <div class="col-md-12">
                <h6>Chat Messages</h6>
                <div class="d-flex flex-column">
                  <div class="card mb-2" *ngFor="let msg of liveChatService.messageHistory"
                       [ngClass]="{'align-self-end': msg.senderId != '1', 'align-self-start': msg.senderId == '1'}"
                       style="border-radius: 20px; padding: 5px; background-color: msg.sender === 'manager' ? '#d0d0d0' : '#f0f0f0'; width: fit-content; word-wrap: break-word; max-width: 200px;">
                    <div class="card-body" style="padding: 0;">
                      {{msg.content}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <input class="form-control mt-2" type="text" placeholder="message" [(ngModel)]="message">
            <button class="btn btn-success mt-2" (click)="sendMessageToManager()">Send</button>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
